body {
  margin: 0;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
blockquote {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
.content-section {
  width: 100%;
  max-width: 360px;
  margin: auto;
  padding: 0 20px;
}
.content-section_theme_bright {
  background-color: #fee42a;
  color: #131313;
}

.content-section_theme_dark {
  background-color: #131313;
  color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 31px;
}

.header__menu-items {
  padding-bottom: 12px;
  list-style: none;
}

.header__menu-link, .footer__link {
  color: #fff;
  text-decoration: none;
}

.header__menu-link:hover {
  border-bottom: 1px solid #fff;
}

.cover {
  background-image: url(/images/cover.svg);
  background-size: 95% auto;
  background-repeat: no-repeat;
  background-position: center right;
  padding-bottom: 35px;
}

.accent-span {
  display: block;
  font-size: 72px;
  font-family: "EB Garamond", serif;
  font-weight: 400;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: end;
}

.intro {
  color: #f5f5f5;
  padding-bottom: 16px;
}

.intro__heading {
  display: flex;
  color: #ccc;
  justify-content: space-between;
  padding-bottom: 24px;
}

.intro__title {
  font-size: 16px;
  padding-right: 16px;
}

.intro__main-text {
  padding-bottom: 24px;
}

.reasons {
  padding: 40px 20px;
}
.reasons__title,
.how-to__title {
  font-size: 28px;
  font-family: "EB Garamond", serif;
  font-weight: 500;
  padding-bottom: 32px;
}

.title-span {
  display: block;
}

.content__text {
  font-size: 20px;
  line-height: 27px;
  padding-bottom: 32px;
}

.reasons__list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 0;
  padding-left: 20px;
}

.reasons__list-items {
  list-style: disc;
}

.how-to {
  padding-top: 40px;
  padding-bottom: 60px;
}

.card__author-photo {
  width: 100px;
  height: 100px;
  align-items: start;
}

.card-content {
  padding-bottom: 8px;
}

.card__items {
  background-color: #343434;
  border-radius: 30px;
  padding: 20px;
  margin: 0;
}

.card__author-name {
  font-weight: 700;
  line-height: 22px;
}

.subtitle {
  font-size: 22px;
  font-family: "EB Garamond", serif;
  font-weight: 500;
  line-height: 30px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  color: #f5f5f5;
}

.item-no-author {
  background-color: #fee42a;
  color: #131313;
}

.footer {
  border-top: 1px solid #fee42a ;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.link-two {
padding-left: 16px;
}
